@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@400;500;600&display=swap");
._container {
  color: #fff;
  font-family: "Manrope", sans-serif;
  background-color: #000408;
}

.top {
  background: url(../img/main/bgi.jpeg), lightgray 50%/cover no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.nav {
  max-width: 1140px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}
@media (max-width: 1440px) {
  .nav {
    padding: 45px 32px;
  }
}
.nav__company {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__company-name {
  color: #D9D9D9;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.nav__menu {
  display: none;
  font-size: 24px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .nav__menu {
    display: block;
  }
}
@media (max-width: 744px) {
  .nav__menu {
    display: none;
  }
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
}
.nav__links-item {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.nav__links-item-selected {
  font-weight: 700;
}
.nav__start {
  color: #68B1C8;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 744px) {
  .nav__start {
    display: none;
  }
}
.nav__menu-icon {
  display: none;
  height: 40px;
}
@media (max-width: 744px) {
  .nav__menu-icon {
    display: block;
  }
}

.info {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 64px;
}
@media (max-width: 1440px) {
  .info {
    padding: 0 32px 64px 32px;
  }
}
@media (max-width: 1024px) {
  .info {
    flex-direction: column;
    padding: 0;
  }
}
.info__left {
  flex: 0 0 50%;
}
@media (max-width: 1024px) {
  .info__left {
    flex: none;
    padding: 30px 24px;
  }
}
@media (max-width: 744px) {
  .info__left {
    padding: 50px 24px;
  }
}
.info__title {
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .info__title {
    text-align: center;
  }
}
@media (max-width: 744px) {
  .info__title {
    font-size: 32px;
  }
}
.info__text {
  font-size: 32px;
  line-height: normal;
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .info__text {
    text-align: center;
  }
}
@media (max-width: 744px) {
  .info__text {
    font-size: 24px;
  }
}
.info__start {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.info__start-arrow {
  height: 360px;
  flex: 0 1 27%;
  border-left: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (max-width: 1440px) {
  .info__start-arrow {
    display: none;
  }
}
.info__start-link {
  flex: 0 1 73%;
  color: #838D9B;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  transform: translateY(50%);
}
@media (max-width: 1024px) {
  .info__start-link {
    transform: translateY(0);
    text-align: center;
    flex: 0 0 100%;
  }
}
@media (max-width: 744px) {
  .info__start-link {
    font-size: 24px;
  }
}
.info__right {
  flex: 0 0 50%;
}
@media (max-width: 1024px) {
  .info__right {
    flex: none;
  }
}
.info__cart {
  background: rgba(0, 0, 0, 0.4);
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1024px) {
  .info__cart {
    padding: 25px 55px;
    backdrop-filter: blur(12.5px);
  }
}
@media (max-width: 744px) {
  .info__cart {
    padding: 15px 24px;
  }
}
.info__cart-title {
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .info__cart-title {
    text-align: center;
  }
}
.info__cart-text {
  font-size: 18px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .info__cart-text {
    text-align: center;
  }
}

.tours {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}
@media (max-width: 1440px) {
  .tours {
    padding: 100px 32px;
  }
}
@media (max-width: 1024px) {
  .tours {
    padding: 50px 24px;
  }
}
.tours__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .tours__container {
    margin-bottom: 40px;
  }
}
.tours__item {
  flex: 0 0 30%;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1024px) {
  .tours__item {
    flex: 0 0 45%;
    max-width: 100%;
  }
}
@media (max-width: 744px) {
  .tours__item {
    flex: 0 0 100%;
  }
}
.tours__item-img {
  position: relative;
  padding: 25%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.tours__item-img-item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.tours__item-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.tours__item-text {
  text-align: center;
  font-size: 21px;
  line-height: normal;
}
.tours__item-price {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1024px) {
  .tours__item-hide1 {
    display: none;
  }
}
@media (max-width: 744px) {
  .tours__item-hide2 {
    display: none;
  }
}
.tours__dots {
  display: none;
  width: 50px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .tours__dots {
    display: block;
  }
}
.feedback {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}
@media (max-width: 1440px) {
  .feedback {
    padding: 100px 32px;
  }
}
@media (max-width: 1024px) {
  .feedback {
    padding: 50px 24px;
  }
}
.feedback__title {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 40px;
}
.feedback__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .feedback__items {
    margin-bottom: 40px;
  }
}
.feedback__item {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background: rgba(38, 44, 49, 0.25);
  backdrop-filter: blur(12.5px);
  padding: 30px 25px;
}
@media (max-width: 1024px) {
  .feedback__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 744px) {
  .feedback__item {
    flex: 0 0 100%;
  }
}
.feedback__item-text {
  text-align: center;
  font-size: 21px;
  line-height: normal;
}
.feedback__item-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1024px) {
  .feedback__item-hide1 {
    display: none;
  }
}
@media (max-width: 744px) {
  .feedback__item-hide2 {
    display: none;
  }
}

.footer {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
}
@media (max-width: 1440px) {
  .footer {
    max-width: 1140px;
    padding: 25px 32px;
  }
}
@media (max-width: 744px) {
  .footer {
    padding: 21px 24px;
  }
}
.footer__company {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 35px;
}
.footer__company-name {
  color: #D9D9D9;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 744px) {
  .footer__company {
    width: 188px;
    margin: 0 auto 35px auto;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 744px) {
  .footer__container {
    flex-wrap: wrap;
  }
}
.footer__contact {
  flex: 0 0 23%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 744px) {
  .footer__contact {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}
.footer__contact-item {
  font-size: 12px;
  line-height: normal;
}
@media (max-width: 744px) {
  .footer__contact-item {
    text-align: center;
  }
}
.footer__list {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 744px) {
  .footer__list {
    flex: 0 0 27%;
  }
}
.footer__list-title {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
.footer__list-item {
  font-size: 12px;
  line-height: normal;
}
.footer__form {
  max-width: 505px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__form-title {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}
.footer__form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.footer__form label {
  display: none;
}
.footer__form-email {
  background-color: transparent;
  width: 90%;
  max-width: 100%;
  padding: 12px 25px;
  font-size: 12px;
  line-height: normal;
  border-bottom: 1px solid #ffffff;
}
.footer__form-email::placeholder {
  color: #ffffff;
}
.footer__form-submit {
  padding: 8px 15px;
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
}
.footer__form-check {
  padding: 13px 16px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__form-check-field {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
}
.footer__form-check-text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: normal;
}
.footer__form-subtitle {
  text-align: center;
  font-size: 12px;
  line-height: normal;
}
.footer__socials {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer__socials-item {
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
