@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@400;500;600&display=swap');

._container {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  background-color: #000408;
}

.top {
  background: url(../img/main/bgi.jpeg), lightgray 50% / cover no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.nav {
  max-width: 1140px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;

  @media (max-width: 1440px) {
    padding: 45px 32px;
  }

  &__company {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__company-logo {}
  &__company-name {
    color: #D9D9D9;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }

  &__menu {
    display: none;
    font-size: 24px;
    line-height: normal;

    @media (max-width: 1024px) {
      display: block;
    }
    
    @media (max-width: 744px) {
      display: none;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__links-item {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;

    &-selected {
      font-weight: 700;
    }
  }
  &__start {
    color: #68B1C8;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 744px) {
      display: none;
    }
  }

  &__menu-icon  {
    display: none;
    height: 40px;
    
    @media (max-width: 744px) {
      display: block;
    }
  }
}

.info {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 64px;

  @media (max-width: 1440px) {
    padding: 0 32px 64px 32px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 0;
  }

  &__left {
    flex: 0 0 50%;

    @media (max-width: 1024px) {
      flex: none;
      padding: 30px 24px;
    }

    @media (max-width: 744px) {
      padding: 50px 24px;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    @media (max-width: 744px) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 35px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    @media (max-width: 744px) {
      font-size: 24px;
    }
  }

  &__start {
    display: flex;
    align-items: flex-end;
    gap: 30px;
  }

  &__start-arrow {
    height: 360px;
    flex: 0 1 27%;
    border-left: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    
    @media (max-width: 1440px) {
      display: none;
    }
  }

  &__start-link {
    flex: 0 1 73%;
    color: #838D9B;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    transform: translateY(50%);

    @media (max-width: 1024px) {
      transform: translateY(0);
      text-align: center;
      flex: 0 0 100%;
    }

    @media (max-width: 744px) {
      font-size: 24px;
    }
  }

  &__right {
    flex: 0 0 50%;

    @media (max-width: 1024px) {
      flex: none;
    }
  }

  &__cart {
    background: rgba(0, 0, 0, 0.40);
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 1024px) {
      padding: 25px 55px;
      backdrop-filter: blur(12.5px);
    }

    @media (max-width: 744px) {
      padding: 15px 24px;
    }
  }

  &__cart-title {
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }
  &__cart-text {
    font-size: 18px;
    line-height: normal;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

}

.tours {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;

  
  @media (max-width: 1440px) {
    padding: 100px 32px;
  }
  
  @media (max-width: 1024px) {
    padding: 50px 24px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &__item {
    flex: 0 0 30%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    @media (max-width: 1024px) {
      flex: 0 0 45%;
      max-width: 100%;
    }
    
    @media (max-width: 744px) {
      flex: 0 0 100%;
    }

    &-img {
      position: relative;
      padding: 25%;
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
    &-img-item {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &-title {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
    }
    &-text {
      text-align: center;
      font-size: 21px;
      line-height: normal;
    }
    &-price {
      text-align: center;
      font-size: 21px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__item-hide1 {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__item-hide2 {
    @media (max-width: 744px) {
      display: none;
    }
  }

  &__dots {
    display: none;
    width: 50px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      display: block;
    }

    &-img {}
  }
}

.feedback {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;

  @media (max-width: 1440px) {
    padding: 100px 32px;
  }
  
  @media (max-width: 1024px) {
    padding: 50px 24px;
  }

  &__title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;

  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }
  }
  &__item {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    background: rgba(38, 44, 49, 0.25);
    backdrop-filter: blur(12.5px);
    padding: 30px 25px;
    
    @media (max-width: 1024px) {
      flex: 0 0 45%;
    }

    @media (max-width: 744px) {
      flex: 0 0 100%;
    }
    
    &-avatar {}
    &-avatar-img {}
    &-text {
      text-align: center;
      font-size: 21px;
      line-height: normal;
    }
    &-name {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__item-hide1 {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__item-hide2 {
    @media (max-width: 744px) {
      display: none;
    }
  }
}

.footer {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
  
  @media (max-width: 1440px) {
    max-width: 1140px;
    padding: 25px 32px;
  }
  
  @media (max-width: 744px) {
    padding: 21px 24px;
  }

  &__company {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 35px;

    &-logo {}

    &-name {
      color: #D9D9D9;
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
    }
    
    @media (max-width: 744px) {
      width: 188px;
      margin: 0 auto 35px auto;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    @media (max-width: 744px) {
      flex-wrap: wrap;
    }
  }

  &__contact {
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 744px) {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }
  }

  &__contact-item {
    font-size: 12px;
    line-height: normal;
    
    @media (max-width: 744px) {
      text-align: center;
    }
  }

  &__list {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @media (max-width: 744px) {
      flex: 0 0 27%;
    }

    &-title {
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      padding-bottom: 10px;
      border-bottom: 1px solid #ffffff;
    }

    &-item {
      font-size: 12px;
      line-height: normal;
    }
  }

  &__form {
    max-width: 505px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
    }

    &-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }
    label {
      display: none;
    }
    &-email {
      background-color: transparent;
      width: 90%;
      max-width: 100%;
      padding: 12px 25px;
      font-size: 12px;
      line-height: normal;
      border-bottom: 1px solid #ffffff;

      &::placeholder {
        color: #ffffff;
      }
    }
    &-submit {
      padding: 8px 15px;
      color: #ffffff;
      font-size: 12px;
      line-height: normal;
      background-color: transparent;
      border: 1px solid #fff;
    }
    &-check {
      padding: 13px 16px;
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &-check-field {
      width: 30px;
      height: 30px;
      border: 1px solid #ffffff;
    }
    &-check-text {
      text-transform: uppercase;
      font-size: 12px;
      line-height: normal;
    }
    &-subtitle {
      text-align: center;
      font-size: 12px;
      line-height: normal;
    }
  }

  &__socials {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-item {
      padding: 10px;
    }
  }

}